<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <link rel="stylesheet" href="../main.css">
    <script type="module" src="../js/main.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="formContainer" id="formContainer">
        <div class="dateForm">
        <form id="dateForm1">
            <div id="formInput1">
                <p class="inputTitle"><label for="data1">Data de Envio</label></p>
                <input type="date" id="data1" name="data1">
                <p class="inputTitle"><label for="data2">Data de Recepção</label></p>
                <input type="date" id="data2" name="data2">
                <br/>
            </div>
            <br/>
            <button type="submit" id="check1">Verificar</button>
        </form>
        <div id="result1"></div>
    </div>
    <div class="dateForm">
        <form id="dateForm2">
            <div id=formInput2>
                <br/><br/><br/><br/><br/>
                <p>Datas anteriores não verificadas.</p>
            </div>
            <br/>
            <button type="submit" id="check2">Verificar</button> 
        </form>
        <div id="result2"></div>
        </div>
        <div class="dateForm">
            <form id="dateForm3">
                <div id="formInput3">
                <br/><br/><br/><br/><br/>
                <p>Datas anteriores não verificadas.</p>
                </div>
                <br/>
                <button type="submit" id="check3">Verificar</button>
            </form>
            <div id="result3"></div>
            </div>
    </div>
</body>
</html>